<?xml version="1.0" encoding="utf-8"?>
<odoo>
	<data>
		<template id="stem_footer" inherit_id="website.layout" name="STEM Footer">
			<xpath expr="//footer" position="replace">
				<footer class="bg-xanh">
  					<div class="container">
  						<div class="row padTB15">
  							<div class="col-md-2 text-center">
  								<a href="/">
  									<img class="MB20" src="/stem_frontend_theme/static/src/images/logo_home1.png"/>
  								</a>
  							</div>
			  				<div class="col-md-8 boL1 text-center767">
			  					<ul class="list-inline ul-footer">
			  						<li><a href="/">Trang chủ</a></li>
			  						<li><a href="/page/gioi-thieu">Giới thiệu</a></li>
			  						<li><a href="/courses">Khóa học</a></li>
			  						<li><a href="/blog/cong-ong-stem-vn-1">Tin tức</a></li>
			  						<li><a href="/event">Sự kiện</a></li>
			  						<li><a href="/page/contactus">Liên hệ</a></li>
			  						<li><a href="/web/content/4477?download=1">Mobile</a></li>
			  					</ul>
			  					<ul class="list-inline text-xanhnhat">
			  						<li><i class="MR5 fa fa-map-marker" aria-hidden="true"></i>6 Nguyễn Hoàng, Hà Nội</li>
			  						<li><i class="MR5 fa fa-phone" aria-hidden="true"></i>024 3533 4165</li>
			  						<li><i class="MR5 fa fa-fax" aria-hidden="true"></i>024 3533 4165</li>
			  						<li><i class="MR5 fa fa-envelope-o" aria-hidden="true"></i>info@stem.vn</li>
			  					</ul>
			  				</div>
			  				<div class="col-md-2 text-center767 text-right">
			  					<p>
			  						<a href="https://www.facebook.com/hocvienstem"><i class="link-F fa fa-facebook" aria-hidden="true"></i></a>
			  						<!-- <a href="#"><i class="link-F fa fa-google-plus" aria-hidden="true"></i></a> -->
			  						<a href="https://twitter.com/StemHoc"><i class="link-F fa fa-twitter" aria-hidden="true"></i></a>
			  					</p>
			  					<p class="text-xanhnhat">Copyright © Học viện STEM</p>
			  				</div>
	  					</div>
  					</div>
  				</footer>
			</xpath>
		</template>

		<template id="stem_main" inherit_id="website.layout" name="STEM Main">
			<xpath expr="//main" position="attributes">
    			<attribute name="class">container MB20</attribute>
  			</xpath>
		</template>

		<template id="stem_header" inherit_id="website.layout" name="STEM Header">
			<xpath expr="//header" position="replace">
				<nav class="navbar navbar-stem">
  	  				<div class="container">
  	    				<div class="navbar-header">
  	      					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#defaultNavbar1" aria-expanded="false">
  	      						<span class="sr-only">Toggle navigation</span>
  	      						<span class="icon-bar"></span>
  	      						<span class="icon-bar"></span>
  	      						<span class="icon-bar"></span>
  	      					</button>
        					<a class="navbar-brand navbar-brand1" href="/"><img src="/stem_frontend_theme/static/src/images/logo_home1.png"/></a>
        				</div>

	  	    			<div class="collapse navbar-collapse" id="defaultNavbar1">
	  	    				<form class="navbar-form navbar-left" role="search" t-ignore="true" t-if="website.user_id != user_id" action="/searchz">
		  						<div class="input-group">
			    					<input name="search" type="search" class="form-control form-TK1 w350" placeholder="Tìm kiếm tin tức và khóa học"/>
			    					<span class="input-group-btn">
								            <button type="submit" class="btn btn-link addon-TK1">
								            	<i class="fa fa-search" aria-hidden="true"></i>
								            </button>
  						       		</span>
		  						</div>
							</form>

	  	      				<ul class="nav navbar-nav navbar-right">
	  	      					<!-- <t t-foreach="website.menu_id.child_id" t-as="submenu">
                                    <t t-call="website.submenu"/>
                                </t> -->

	  	        				<li groups="base.group_public">
            						<a class="bt-dangnhap MR10" t-attf-href="/web/login?redirect=/">
                						Đăng nhập
						            </a>
						        </li>

						        <t t-ignore="true" t-if="website.user_id != user_id">
							        <li>
							        	<a class="text-tranglogin" href="/home">
	                                        <img t-att-src="user_id.image_small and ('data:image/png;base64,' + user_id.image_small) or '/web/static/src/img/placeholder.png'" class="img-circle MR5" t-att-alt="user_id.name" width="32"/>
							        		<!-- <img class="img-circle MR5" src="/stem_frontend_theme/static/src/images/img2.png" width="32" alt=""/> -->
							        		<t t-esc="(len(user_id.name)&gt;25) and (user_id.name[:23]+'...') or user_id.name"/>
							        	</a>
							        </li>

							        <li>
							        	<a class="text-trang hover" href="/">Trang chủ</a>
							        </li>
									<!--
									<li>
							        	<a class="text-trang hover" href="/home/my-mes">
											Thông báo
											
										</a>
							        </li>

							         <li class="dropdown">
 	          							<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
 	          								<i class="fa fa-envelope-o MT5"></i>
                							<span class="badge badge-sm up bg-pink count">4</span>
 	          							</a>

  	          							<ul class="dropdown-menu dropdown-menu1 w400">
  	            							<li class="li-tn">
  	            								<a href="#">
					  								<span class="pull-left MB20">
					  									<img class="MR10 img-circle" src="/stem_frontend_theme/static/src/images/img2.png" width="32" alt="placeholder image"/>
					  								</span>
					  								<span class=""><strong>Media heading 1</strong></span><br/>
					  								<span class="">
					  									This is the content inside the media-body. This is the content inside the media-body.<br/>
					  									<small class="text-muted">5 minutes ago</small>
 	            	  								</span>
  	            								</a>
  	            							</li>
              							</ul>
            						</li>

            						<li class="dropdown">
            							<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            								<i class="fa fa-bell-o MT5"></i>
                    						<span class="badge badge-sm up bg-pink count">3</span>
            							</a>

  	          							<ul class="dropdown-menu dropdown-menu1 w400">
  	            							<li class="li-tn">
  	            								<a href="#">
					  								<span class="pull-left MB20">
					  									<img class="MR10 img-circle" src="/stem_frontend_theme/static/src/images/img2.png" width="32" alt="placeholder image"/>
					  								</span>
					  								<span class=""><strong>Media heading 1</strong></span><br/>
					  								<span class="">
					  									This is the content inside the media-body. This is the content inside the media-body.<br/>
					  									<small class="text-muted">5 minutes ago</small>
 	            	  								</span>
  	            								</a>
  	            							</li>
              							</ul>
            						</li>

            						<li class="dropdown">
            							<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            								<i class="fa fa-users" aria-hidden="true"></i>
            							</a>

            							<ul class="dropdown-menu dropdown-menu1 w400">
	            							<li class="li-tn">
	            								<a href="#">
					  								<span class="pull-left MB20">
					  									<img class="MR10 img-circle" src="/stem_frontend_theme/static/src/images/img2.png" width="32" alt="placeholder image"/>
					  								</span>
					  								<span class=""><strong>Media heading 1</strong></span><br/>
					  								<span class="">
					  									This is the content inside the media-body. This is the content inside the media-body.<br/>
					  									<small class="text-muted">5 minutes ago</small>
	            	  								</span>
	            								</a>
	            							</li>
	              						</ul>
            						</li> -->

              						<li class="dropdown">
		  	        					<a href="#" class="dropdown-toggle bt-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		  	        						Menu<span class="caret"></span>
		  	        					</a>
		  	          					<ul class="dropdown-menu dropdown-menu1">
		  	            					<li>
		  	            						<a href="/blog">
		  	            							<i class="fa-2x1 MR10 fa fa-file-text-o text-primary" aria-hidden="true"></i>Bảng tin
		  	            						</a>
		  	            					</li>
		  	            					<li>
		  	            						<a href="/web">
		  	            							<i class="fa-2x1 MR10 fa fa-commenting-o text-danger" aria-hidden="true"></i>Tin nhắn
		  	            						</a>
		  	            					</li>
		  	            					<li>
		  	            						<a href="/courses">
		  	            							<i class="fa-2x1 MR10 fa fa-th-large text-success" aria-hidden="true"></i>Khóa học
		  	            						</a>
		  	            					</li>
		  	            					<li>
		  	            						<a href="/event">
		  	            							<i class="fa-2x1 MR10 fa fa-calendar text-danger" aria-hidden="true"></i>Sự kiện
		  	            						</a>
		  	            					</li>
		  	            					<li>
		  	            						<a data-toggle="modal" data-target="#personModal" href="#">
		  	            							<i class="fa-2x1 MR10 fa fa-cog text-info" aria-hidden="true"></i>Setting
		  	            						</a>
		  	            					</li>
		  	            					<li t-ignore="true" t-if="website.user_id != user_id">
		  	            						<a t-attf-href="/web/session/logout?redirect=/">
		  	            							<i class="MR10 fa fa-sign-out"></i> Đăng xuất
		  	            						</a>
		  	            					</li>
		              					</ul>
		            				</li>
							    </t>
	          				</ul>
	        			</div>
      				</div>
	      			<div class="modal fade" id="personModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
					  	<div class="modal-dialog modal-lg" role="document">
					    	<div class="modal-content">
						      	<div class="modal-header">
						        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">X</button>
						        	<h4 class="modal-title">Thông tin cá nhân</h4>
						      	</div>
					      		<div class="modal-body">
					      			<div role="tabpanel">
			                            <ul class="nav nav-tabs" role="tablist">
			                                <li role="presentation" class="active">
			                                    <a href="#infomation" data-toggle="tab" role="tab" aria-controls="tab1">Thông tin chung</a>
			                                </li>
			                                <li role="presentation">
			                                    <a href="#password" data-toggle="tab" role="tab" aria-controls="tab2">Đổi mật khẩu</a>
			                                </li>
			                                <t t-if="user_id.partner_id.employee == True">
				                                <li role="presentation">
				                                    <a href="#attmental" class="course-comments" data-toggle="tab" role="tab" aria-controls="tab2">Tài liệu</a>
				                                </li>
			                            	</t>
			                            </ul>

			                            <div id="tabContent1" class="tab-content">
			                                <div role="tabpanel" class="tab-pane fade in active" id="infomation">
			                                	<div class="row">
			                                		<div class="col-md-12">
			                                			<div class="col-md-2">
			                                				<img t-att-src="'data:image/png;base64,%s' % (user_id.image_small)"
		                                                         class="img img-responsive img-circle" style="margin-top: 15px;margin-left: 20px;"/>
			                                			</div>
			                                			<div class="col-md-10">
			                                				<table class="table table-user-information">
											                    <tbody>
												                    <tr>
												                        <td>Họ tên</td>
												                        <td><t t-esc="user_id.name"/></td>
												                        <td><a><i class="fa fa-pencil"></i>Edit</a></td>
												                    </tr>
										                      		<tr>
										                        		<td>Ngày sinh</td>
										                        		<td><t t-esc="user_id.birthday"/></td>
										                        		<td><a><i class="fa fa-pencil"></i>Edit</a></td>
										                      		</tr>
										                   
										                         	<tr>
										                        		<td>Giới tính</td>
										                        		<td>
										                        		<t t-if="user_id.gender == 'male'">Nam</t>
										                        		<t t-if="user_id.gender == 'female'">Nữ</t>
										                        		</td>
										                        		<td><a><i class="fa fa-pencil"></i>Edit</a></td>
										                     		</tr>
										                        	<tr>
										                        		<td>Địa chỉ</td>
										                        		<td>
										                        			<t t-esc="user_id.partner_id.street"/>,
										                        			<t t-esc="user_id.partner_id.city"/>
										                        		</td>
										                        		<td><a><i class="fa fa-pencil"></i>Edit</a></td>
										                        	</tr>
										                        	<tr>
										                        		<td>Email</td>
										                        		<td><a t-att-href="'mailto:' + user_id.login"><t t-esc="user_id.login"/></a></td>
										                        		<td><a><i class="fa fa-pencil"></i>Edit</a></td>
										                      		</tr>
										                        	<tr>
										                        		<td>Số điện thoại</td>
										                        		<td><t t-esc="user_id.partner_id.phone"/></td>
										                        		<td><a><i class="fa fa-pencil"></i>Edit</a></td>
										                      		</tr>
											                    </tbody>
											                </table>
			                                			</div>
			                                		</div>
			                                	</div>
		                                    </div>
	                                    
			                                <div role="tabpanel" class="tab-pane fade" id="password">
		                                    	<form t-name="ChangePassword" name="change_password_form" method="POST" style="margin-top: 10px;">
		                                    		<div class="row">
													    <div class="col-md-12">
													    	<div class="msg"></div>
													        <div class="form-group">
													        	<label class="control-label">Mật khẩu hiện tại</label>
													            <input type="password" name="old_pwd" minlength="1" autofocus="autofocus" class="form-control"/>
												        	</div>
												            <div class="form-group">
												            	<label class="control-label">Nhập mật khẩu mới</label>
												                <input type="password" name="new_password" minlength="1" class="form-control"/>
												            </div>
												             <div class="form-group">
												                <label class="control-label">Nhập lại mật khẩu mới</label>
												                <input type="password" name="confirm_pwd" minlength="1" class="form-control"/>
												            </div>
												            <div class="form-group">
													        	<button type="button" class="btn btn-primary oe_form_button" onclick="changePassword()">Cập nhật</button>
													    	</div>
													    </div>
													</div>
												</form>
		                                    </div>
	                                    
			                                <t t-if="user_id.partner_id.employee == True">
				                                <div role="tabpanel" class="tab-pane fade" id="attmental">
			                                    	<div class="row">
			                                    		<p class="alert alert-success">Xin chân thành xin lỗi quý khách. Thông tin đang được cập nhật. Vui lòng quay lại sau.</p>
			                                    	</div>
			                                    </div>
			                                </t>
	                                    </div>
	                                </div>
					      		</div>
					      		<div class="modal-footer">
						        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						      	</div>
					      	</div>
					    </div>
					</div>
  				</nav>
  			</xpath>
		</template>

		<!-- Latest posts's Template -->
	    <template id="list_template">
	        <t t-if="not posts">
	            <div class="container readable">
		            <div class="alert alert-warning alert-dismissible text-center" role="alert">
		                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		                    <span aria-hidden="true">&#215;</span>
		                </button>
		                <h3>No posts here...</h3>
		                <p>Please, be sure that your posts are not in draft state</p>
		            </div>
		        </div>
	        </t>
	        <t t-foreach="posts" t-as="p">
	        	<li>
	        		<a t-att-href="'/blog/%s/post/%s' % (p.blog_id.id, p.id)">
	        			<span class="media-heading" t-field="p.name"/>
	        			<span class="text-ngay">(20/08/2017)</span>
	        		</a>
	        	</li>
	        </t>
	    </template>

	</data>
</odoo>
