@charset "utf-8";
/* CSS Document */
body{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 15px;
}
a:hover, a:focus{color: #198a66;text-decoration: none;}
a{color: #1fa67a;}
.navbar-stem{
	background: #1fa67a;
	border-radius: 0;
}
.bt-dangnhap{
	background: #198a66;
	color: #fff;
	border-radius: 4px;
	padding: 10px 24px !important;
	margin-top: 5px;
	text-transform: uppercase;
}
.MR10{margin-right: 10px;}
.bt-menu{
	border-radius: 4px;
	padding: 10px !important;
	margin-top: 5px;
	text-transform: uppercase;
	background: #198a66;
	color: #fff;
}
.text-slogan{
	text-align: center;
	color: #1fa67a;
	margin-top: 0;
}
.box1{
	position: relative;
	width: 100%;
	height: 315px;
}
.img-mh{
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
}
.box-timkiem{
	position: absolute;
	left: 255px;
	right: 0;
	top: 0;
	
}
.box2{
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	padding: 10px;
	float: left;
	border: solid 1px #1fa67a;
	height: 300px;
	max-width: 407px;
	background: #fff;
}
.border-RT{border-top-right-radius: 6px;}
.border-RB{border-bottom-right-radius: 6px;}
.border-B{border-bottom: solid 3px #fff;}
.boxTK{height: 100px;}
.form-TK{border: solid 1px #1fa67a;box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075);}
.addon-TK{border: solid 1px #1fa67a;background: #1fa67a;color: #fff;}
.addon-TK1{border: solid 1px #198a66;background: #198a66;color: #fff;}
.form-TK1{border: solid 1px #198a66;box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075);}
.MB20{margin-bottom: 20px;}
.MB40{margin-bottom: 40px;}
.text-trang{color: #fff;}
.bt-google, .bt-FB{
	border-radius: 4px;
	padding: 8px;
	color: #fff;
	font-size: 14px;
	display: inline-block;
}
.bt-google:hover, .bt-FB:hover{color: #fff;text-decoration: none;}
.bt-google{background: #c53720; min-width: 186px;}
.bt-FB{background: #034ea2;}
.fa-G, .fa-F{border-radius: 20px;background: #fff;width: 26px;height: 26px;padding: 6px;margin-right: 7px;text-align: center;}
.fa-G{color: #c53720;}
.fa-F{color: #034ea2;}
.text-tle{color: #1fa67a;}
.boR{border-right: solid 1px #ccc;}
.text-small{font-size: 12px;margin-top: 30px;text-align: justify;color: #6f6f6f;margin-bottom: 20px;}
.text-ngay{font-size: 12px;color: #6f6f6f;}
.bt-taoTK{border-radius: 4px;color: #fff;background: #1fa67a;font-size: 22px;padding: 6px 12px;}
.bt-taoTK:hover{background: #198a66;color: #fff;text-decoration: none;}
.text-tle1{font-weight: 300;margin-bottom: 0;}
.font-B{font-weight: 700;font-size: 22px;}
.MB5{margin-bottom: 5px;}
.box-tin{
	border: solid 1px #ccc;
	padding: 15px;
	min-height: 260px;
}
.box-bor{
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	padding: 15px;
	background: #fff;
	border-radius: 4px;
}
.ul-tin{
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}
.ul-tin li{
	padding: 5px 0;
	background: url(../images/li.png) no-repeat left 13px;
	padding-left: 15px;
}
.ul-tin li a{color: #292929;}
.ul-tin li a:hover{text-decoration: none;}
.text-xanh{border-bottom: solid 1px #ccc;padding-bottom: 5px;font-weight: 700;margin-top: 0;}
.text-xanh a{color: #1fa67a;}
.text-xanh1{border-bottom: solid 1px #ccc;padding-bottom: 5px;margin-top: 0;font-size: 21px;}
.ML10{margin-left: 10px;}
.bg-xanh{background: #1fa67a;}
.padTB15{padding-top: 15px;}
.link-F{
	border-radius: 20px;
	background: #b0ddce;
	width: 30px;
	height: 30px;
	padding: 6px;
	text-align: center;
	color: #1fa67a;
	line-height: 22px;
}
.text-xanhnhat{color: #b0ddce;}
.MR5{margin-right: 5px;}
.text-xanhnhat li{padding-left: 20px;padding-right: 20px;}
.ul-footer li{border-right: solid 1px #b0ddce;padding-left: 20px;padding-right: 20px;}
.ul-footer li a{color: #fff;text-transform: uppercase;}
.boL1{border-left: solid 1px #b0ddce;}
.MT20{margin-top: 20px;}
.navbar-brand1{padding-top: 3px}
.navbar-toggle{border: solid 1px #198a66;}
.navbar-toggle .icon-bar{background: #198a66;}
.navbar-nav li a{margin-left: 5px;margin-right: 5px;}
@media screen and (max-width: 1200px) {
	.box-timkiem{left: 0;}
	.box2{width: 75%;}
	.boxTK{margin-left: 4px;}
	
	
}
@media screen and (max-width: 767px) {
	.text-center767{text-align: center;}
	.boL1{border-left: none;}
	.dropdown-menu1 li a{background: #fff !important;}
	
	
}
.dropdown-menu1 li a{
	padding: 8px;
}
.fa-2x1{font-size: 22px;}
.text-primary{color: #337ab7;}
.text-success{color: #00B926;}
.text-danger{color: #E00003;}
.text-warning{color: #FF7E00;}
.text-info{color: #00B2DF;}
.bg-vang{background: #ffb400;}
.w350{width: 250px !important;}
.bg-body{background: #e9ebee;}
.MB0{margin-bottom: 0;}
.bg-trang{background: #e9ebee;}
.text-a{color: #292929;}
.text-a span{color: #FF9E00;}
.box-KH{
	box-shadow: 0 0px 8px 1px rgba(0,0,0,0.1);
	display: block;
	margin-bottom: 20px;
	position: relative;
}
.box-KH:hover{border: solid 1px #1fa67a;}
.pad10{padding: 10px;}
.bg-danger{background-color: #FF0004;}
.bg-warning{background-color: #FF9600;}
.text-vang{color: #FF9600;}
.pos{position: absolute;left: 0;top: 10px;border-radius: 0 4px 4px 0;padding: 4px 10px;color: #fff;}
.MT0{margin-top: 0;}
.pagination > .active > a{background: #1fa67a;border: solid 1px #1fa67a;}
.pagination > li > a{color: #1fa67a;}
.ML15{margin-left: 15px;}
.box-mang{border-radius: 4px;border: solid 1px #ccc;padding: 6px 12px;text-align: center;line-height: 2.3;}
.padT15{padding-top: 15px;}
.w100{width: 100px;display: inline-block;}
.img15{margin-right: 20px;margin-bottom: 10px;}
.text-link{color: #292929;}
.text-tranglogin{color: #fff;padding-bottom: 5px !important;padding-top: 10px !important;}
.text-tranglogin:hover, .hover:hover{background-color: #1fa67a !important;color: #fff;}
.icon-menu{color: #198a66;background-color: #1fa67a !important;}
.w400{width: 350px;}
.li-tn{border-bottom: solid 1px #F3F5F6; display: inline-block;width: 100%;}
.li-tn a{
	color: inherit;
	font-size: 14px;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	overflow: hidden;
}
.up {
    position: relative;
    top: -12px;
    padding: 3px 6px;
    margin-left: -13px;
}
.bg-pink{background-color: #FF0004;}
.list-group-item1{padding-left: 0;padding-right: 0;background-color: transparent;border: none;}
.list-group-item1:hover{background-color: transparent !important;}
.border-B1{border-bottom: solid 1px #ccc;}
.bt-chitiet{border-radius: 25px;border: solid 1px #cccccc;background: #f7f7f7;padding: 3px 30px;color: #292929;}
.box3{margin-bottom: 10px;display: block;}
.text-den{color: #292929;margin-bottom: 10px;display: block;}
.carousel-control.left, .carousel-control.right{background-image: none;}
.carousel-control{width: auto;}
.giacu {
    text-decoration: line-through;
    color: #6E6E6E;
}

/* custom for stem */
#wrapwrap > * {
    display: block;
}
#wrapwrap > main {
    height: initial;
}
.addon-TK:hover,.addon-TK1:hover {
	background-color: #1fa67a;
}
body {
	font-family: 'Roboto Condensed', sans-serif !important;
	background: #e9ebee !important;
}
.navbar-brand1 {
	padding:0;
	padding-top: 3px;
}
.box2 {
	max-width: 402px;
}
.MT-20 {
	margin-top: -20px;
}

.view-more{
	position: relative;
	width: 100%;
	margin-bottom: 10px;
}
.view-more-link{
	position: absolute;
	float: right;
	right: 10px;
}
.panel-title a[data-toggle="collapse"]::before {
    position: absolute !important;
    content: "\f068" !important;
    font-family: FontAwesome !important;
    left: 50px !important;
    line-height: 0 !important;
    margin-top: 11px !important;
    color: #000 !important;
}
.panel-title a[data-toggle="collapse"]::after {
    position: absolute !important;
    font-family: FontAwesome !important;
    left: 50px !important;
    line-height: 0 !important;
    margin-top: 11px !important;
    color: #000 !important;
}

.action { width: 20px; padding-left: 0;}
#outerdiv
{
	height: 600px;
	overflow:hidden;
	position:relative;
}

#inneriframe
{
	position:absolute;
	width:600px;
	height:800px;
	top: -162px;
    left: -2px;
}

.list-group-child {
	padding-left: 27px;
	margin-bottom: 0;
}

.active-link {
	border-bottom: 3px solid #1fa67a;
    padding-bottom: 5px;
    margin-bottom: 5px !important;
    border-radius: 0 !important;
}

.addQuestionPrompt{
	background-color: #fff;
	border-radius: 4px;
	margin-bottom: 8px;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 6px;
	text-align: left;
	color: #999;
	font-size: 13px;
}

.addQuestionPrompt .fake_reason {
    color: #999;
    margin-bottom: 40px;
}

.user-question {
	float: left;
	margin-top: 5px;
	margin-left: 8px;
	color: #333;
	font-size: 14px;
	text-decoration: none;
}

.user-question:hover {
	text-decoration: underline;
}

.fake_reason .profile_photo_img {
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 4px;
    border-radius: 50%;
}

.inner-text {
	color: #999;
	font-weight: bold;
	line-height: 1.3;
	font-size: 24px;
}

.inner-text:hover {
	color: #1fa67a;
}

.name-question {
	height: 45px;
}

.input-question-btn-search {
	float: right;
	top: -36px;
	right: 7px;
	position: relative;
}

.btn-search-question {
	margin: 2px 0 0 0;
	background: none;
	box-shadow: none;
	border: 0;
	color: #666666;
	padding: 0 8px 0 10px;
}
.btn-search-question .fa-search {
 	font-size: 23px;
 }

.course-container {
	padding-top: 20px;
	border-top: 1px solid #ccc;
}
/* end custom for stem */